<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringFacetInspection -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- enable the usage of annotations -->
    <context:annotation-config/>

    <!--  -->
    <!--<bean id="jnz" class="sml.instructionFactory.JnzInstruction"/>
    <bean id="sub" class="sml.instructionFactory.SubInstructionFactory"/>
    <bean id="div" class="sml.instructionFactory.DivInstructionFactory"/>
    <bean id="mul" class="sml.instructionFactory.MulInstructionFactory"/>
    <bean id="out" class="sml.instructionFactory.OutInstructionFactory"/> -->
    <bean id="mov" class="sml.instructionFactory.MovInstructionFactory"/>
    <bean id="add" class="sml.instructionFactory.AddInstructionFactory"/>
    <bean id="registerNameProvider" class="sml.helper.RegisterNameProviderImpl"/>
    <bean id="intProvider" class="sml.helper.IntProviderImpl"/>

</beans>